In [3]:
import numpy as np
import pandas as pd
#from sklearn.datasets import load_iris
from sklearn.cross_validation import train_test_split

D:\Software Install\Anaconda Install\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [4]:
sample_data = pd.read_csv('sample_data.csv')
sample_data.head(20)
#print(sample_data.shape)

,ticket_date,flight_date,remain_day,valid_price,ticket_year,ticket_month,ticket_day,ticket_weekday,flight_year,flight_month,flight_day,flight_weekday,remain_day_interval,lowest_price,ave_price,ave_valid_price,ave_lowest_price,ave_lowest_price_lastmonth
0,2017/8/11,2017/8/12,1,1020,2017,8,11,5,2017,8,12,6,1,1020,1020.000000,855.731922,789.506173,797.694444
1,2017/8/10,2017/8/12,2,1060,2017,8,10,4,2017,8,12,6,1,1020,1040.000000,855.731922,789.506173,797.694444
2,2017/8/9,2017/8/12,3,1060,2017,8,9,3,2017,8,12,6,1,1020,1046.666667,855.731922,789.506173,797.694444
3,2017/8/8,2017/8/12,4,1060,2017,8,8,2,2017,8,12,6,1,1020,1050.000000,855.731922,789.506173,797.694444
4,2017/8/7,2017/8/12,5,1060,2017,8,7,1,2017,8,12,6,1,1020,1052.000000,855.731922,789.506173,797.694444
5,2017/8/6,2017/8/12,6,680,2017,8,6,7,2017,8,12,6,1,680,990.000000,855.731922,789.506173,797.694444
6,2017/8/5,2017/8/12,7,550,2017,8,5,6,2017,8,12,6,1,550,927.142857,855.731922,789.506173,797.694444
7,2017/8/4,2017/8/12,8,550,2017,8,4,5,2017,8,12,6,1,550,880.000000,855.731922,789.506173,797.694444
8,2017/8/3,2017/8/12,9,550,2017,8,3,4,2017,8,12,6,1,550,843.333333,855.731922,789.506173,797.694444
9,2017/8/1,2017/8/12,11,550,2017,8,1,2,2017,8,12,6,2,550,814.000000,888.108696,746.978261,783.003413
10,2017/7/26,2017/8/12,17,640,2017,7,26,3,2017,8,12,6,2,550,798.181818,888.108696,746.978261,783.003413
11,2017/7/25,2017/8/12,18,510,2017,7,25,2,2017,8,12,6,2,510,774.166667,888.108696,746.978261,783.003413
12,2017/7/23,2017/8/12,20,510,2017,7,23,7,2017,8,12,6,2,510,753.846154,888.108696,746.978261,783.003413
13,2018/4/29,2018/4/30,1,530,2018,4,29,7,2018,4,30,1,1,530,530.000000,902.902375,714.063325,793.350923
14,2018/4/29,2018/4/30,1,400,2018,4,29,7,2018,4,30,1,1,400,465.000000,902.902375,714.063325,793.350923
15,2018/4/28,2018/4/30,2,530,2018,4,28,6,2018,4,30,1,1,400,486.666667,902.902375,714.063325,793.350923
16,2018/4/27,2018/4/30,3,530,2018,4,27,5,2018,4,30,1,1,400,497.500000,902.902375,714.063325,793.350923
17,2018/4/26,2018/4/30,4,530,2018,4,26,4,2018,4,30,1,1,400,504.000000,902.902375,714.063325,793.350923
18,2018/4/26,2018/4/30,4,400,2018,4,26,4,2018,4,30,1,1,400,486.666667,902.902375,714.063325,793.350923
19,2018/4/25,2018/4/30,5,530,2018,4,25,3,2018,4,30,1,1,400,492.857143,902.902375,714.063325,793.350923

In [5]:
sample_data = sample_data[['remain_day','valid_price','ticket_year','ticket_month','ticket_day','ticket_weekday',\
                           'flight_year','flight_month','flight_day','flight_weekday','remain_day_interval','lowest_price',\
                           'ave_price','ave_valid_price','ave_lowest_price','ave_lowest_price_lastmonth']]
sample_data.head()
print(sample_data.shape)

(23612, 16)

In [6]:
label = sample_data['lowest_price']     #获取各条数据记录的标签

In [14]:
from sklearn.utils import shuffle

test_ratio = 0.25
test_size = int(len(sample_data)*test_ratio)

random_order_data = shuffle(sample_data)
test,train = random_order_data.iloc[:test_size,:],random_order_data.iloc[test_size:,:]

colname = ['remain_day','valid_price','ticket_year','ticket_month','ticket_day','ticket_weekday',\
            'flight_year','flight_month','flight_day','flight_weekday','remain_day_interval','lowest_price',\
            'ave_price','ave_valid_price','ave_lowest_price','ave_lowest_price_lastmonth']

#training_data = pd.DataFrame(training,columns = colname)
#test_data = pd.DataFrame(test,columns = colname)

train.to_csv('train_data.csv',index = False)
test.to_csv('test_data.csv',index = False)

In [12]:
fd1 = sample_data.head(20)
from sklearn.utils import shuffle
c = shuffle(fd1)
print(c)
print(c.iloc[1:12,:])

    remain_day  valid_price  ticket_year  ticket_month  ticket_day  \
5            6          680         2017             8           6
7            8          550         2017             8           4
3            4         1060         2017             8           8
6            7          550         2017             8           5
18           4          400         2018             4          26
12          20          510         2017             7          23
2            3         1060         2017             8           9
19           5          530         2018             4          25
13           1          530         2018             4          29
8            9          550         2017             8           3
1            2         1060         2017             8          10
9           11          550         2017             8           1
11          18          510         2017             7          25
15           2          530         2018             4          28
16           3          530         2018             4          27
4            5         1060         2017             8           7
14           1          400         2018             4          29
17           4          530         2018             4          26
0            1         1020         2017             8          11
10          17          640         2017             7          26

    ticket_weekday  flight_year  flight_month  flight_day  flight_weekday  \
5                7         2017             8          12               6
7                5         2017             8          12               6
3                2         2017             8          12               6
6                6         2017             8          12               6
18               4         2018             4          30               1
12               7         2017             8          12               6
2                3         2017             8          12               6
19               3         2018             4          30               1
13               7         2018             4          30               1
8                4         2017             8          12               6
1                4         2017             8          12               6
9                2         2017             8          12               6
11               2         2017             8          12               6
15               6         2018             4          30               1
16               5         2018             4          30               1
4                1         2017             8          12               6
14               7         2018             4          30               1
17               4         2018             4          30               1
0                5         2017             8          12               6
10               3         2017             8          12               6

    remain_day_interval  lowest_price    ave_price  ave_valid_price  \
5                     1           680   990.000000       855.731922
7                     1           550   880.000000       855.731922
3                     1          1020  1050.000000       855.731922
6                     1           550   927.142857       855.731922
18                    1           400   486.666667       902.902375
12                    2           510   753.846154       888.108696
2                     1          1020  1046.666667       855.731922
19                    1           400   492.857143       902.902375
13                    1           530   530.000000       902.902375
8                     1           550   843.333333       855.731922
1                     1          1020  1040.000000       855.731922
9                     2           550   814.000000       888.108696
11                    2           510   774.166667       888.108696
15                    1           400   486.666667       902.902375
16                    1           400   497.500000       902.902375
4                     1          1020  1052.000000       855.731922
14                    1           400   465.000000       902.902375
17                    1           400   504.000000       902.902375
0                     1          1020  1020.000000       855.731922
10                    2           550   798.181818       888.108696

    ave_lowest_price  ave_lowest_price_lastmonth
5         789.506173                  797.694444
7         789.506173                  797.694444
3         789.506173                  797.694444
6         789.506173                  797.694444
18        714.063325                  793.350923
12        746.978261                  783.003413
2         789.506173                  797.694444
19        714.063325                  793.350923
13        714.063325                  793.350923
8         789.506173                  797.694444
1         789.506173                  797.694444
9         746.978261                  783.003413
11        746.978261                  783.003413
15        714.063325                  793.350923
16        714.063325                  793.350923
4         789.506173                  797.694444
14        714.063325                  793.350923
17        714.063325                  793.350923
0         789.506173                  797.694444
10        746.978261                  783.003413
    remain_day  valid_price  ticket_year  ticket_month  ticket_day  \
7            8          550         2017             8           4
3            4         1060         2017             8           8
6            7          550         2017             8           5
18           4          400         2018             4          26
12          20          510         2017             7          23
2            3         1060         2017             8           9
19           5          530         2018             4          25
13           1          530         2018             4          29
8            9          550         2017             8           3
1            2         1060         2017             8          10
9           11          550         2017             8           1

    ticket_weekday  flight_year  flight_month  flight_day  flight_weekday  \
7                5         2017             8          12               6
3                2         2017             8          12               6
6                6         2017             8          12               6
18               4         2018             4          30               1
12               7         2017             8          12               6
2                3         2017             8          12               6
19               3         2018             4          30               1
13               7         2018             4          30               1
8                4         2017             8          12               6
1                4         2017             8          12               6
9                2         2017             8          12               6

    remain_day_interval  lowest_price    ave_price  ave_valid_price  \
7                     1           550   880.000000       855.731922
3                     1          1020  1050.000000       855.731922
6                     1           550   927.142857       855.731922
18                    1           400   486.666667       902.902375
12                    2           510   753.846154       888.108696
2                     1          1020  1046.666667       855.731922
19                    1           400   492.857143       902.902375
13                    1           530   530.000000       902.902375
8                     1           550   843.333333       855.731922
1                     1          1020  1040.000000       855.731922
9                     2           550   814.000000       888.108696

    ave_lowest_price  ave_lowest_price_lastmonth
7         789.506173                  797.694444
3         789.506173                  797.694444
6         789.506173                  797.694444
18        714.063325                  793.350923
12        746.978261                  783.003413
2         789.506173                  797.694444
19        714.063325                  793.350923
13        714.063325                  793.350923
8         789.506173                  797.694444
1         789.506173                  797.694444
9         746.978261                  783.003413