In [1]:
import numpy as np
import pandas as pd
#from sklearn.datasets import load_iris
#from sklearn.cross_validation import train_test_split

In [2]:
sample_data = pd.read_csv('sample_data.csv')
sample_data.head(20)

#print(sample_data.shape)

,ticket_date,flight_date,remain_day,valid_price,ticket_year,ticket_month,ticket_day,ticket_weekday,flight_year,flight_month,flight_day,flight_weekday,remain_day_interval,lowest_price,ave_price,ave_valid_price,ave_price_monday,ave_price_lastmon
0,2018/2/10,2018/2/11,1,670,2018,2,10,6,2018,2,11,7,1,670,748.593750,787.837838,693.563794,716.991145
1,2018/2/9,2018/2/11,2,670,2018,2,9,5,2018,2,11,7,1,670,749.841270,736.315789,684.753160,715.559671
2,2018/2/9,2018/2/11,2,790,2018,2,9,5,2018,2,11,7,1,670,751.129032,736.315789,684.753160,715.559671
3,2018/2/8,2018/2/11,3,670,2018,2,8,4,2018,2,11,7,1,670,750.491803,715.000000,685.208585,709.969606
4,2018/2/8,2018/2/11,3,790,2018,2,8,4,2018,2,11,7,1,670,751.833333,715.000000,685.208585,709.969606
5,2018/2/7,2018/2/11,4,1240,2018,2,7,3,2018,2,11,7,1,670,751.186441,741.515152,691.586919,708.476920
6,2018/2/6,2018/2/11,5,1240,2018,2,6,2,2018,2,11,7,1,670,742.758621,745.000000,690.231308,719.329691
7,2018/2/5,2018/2/11,6,790,2018,2,5,1,2018,2,11,7,1,670,734.035088,722.413793,685.355107,715.974070
8,2018/2/4,2018/2/11,7,790,2018,2,4,7,2018,2,11,7,1,670,733.035714,760.740741,701.525615,743.854684
9,2018/2/3,2018/2/11,8,790,2018,2,3,6,2018,2,11,7,1,670,732.000000,683.333333,694.742003,713.330889
10,2018/2/2,2018/2/11,9,790,2018,2,2,5,2018,2,11,7,1,670,730.925926,648.888889,694.725510,726.259694
11,2018/2/1,2018/2/11,10,790,2018,2,1,4,2018,2,11,7,1,670,729.811321,669.285714,686.963177,694.809918
12,2018/1/31,2018/2/11,11,790,2018,1,31,3,2018,2,11,7,2,670,728.653846,675.714286,698.157345,702.423560
13,2018/1/30,2018/2/11,12,790,2018,1,30,2,2018,2,11,7,2,670,727.450980,677.142857,691.082192,712.847683
14,2018/1/29,2018/2/11,13,670,2018,1,29,1,2018,2,11,7,2,670,726.200000,725.000000,686.433838,734.688513
15,2018/1/28,2018/2/11,14,670,2018,1,28,7,2018,2,11,7,2,670,727.346939,718.148148,689.099799,724.411660
16,2018/1/27,2018/2/11,15,670,2018,1,27,6,2018,2,11,7,2,670,728.541667,698.571429,688.281929,707.962758
17,2018/1/26,2018/2/11,16,690,2018,1,26,5,2018,2,11,7,2,670,729.787234,719.615385,692.977160,711.471958
18,2018/1/25,2018/2/11,17,690,2018,1,25,4,2018,2,11,7,2,670,730.652174,720.370370,685.693157,700.496306
19,2018/1/24,2018/2/11,18,690,2018,1,24,3,2018,2,11,7,2,670,731.555556,734.800000,691.814951,707.239582

In [3]:
col = sample_data.columns
col

Index(['ticket_date', 'flight_date', 'remain_day', 'valid_price',
       'ticket_year', 'ticket_month', 'ticket_day', 'ticket_weekday',
       'flight_year', 'flight_month', 'flight_day', 'flight_weekday',
       'remain_day_interval', 'lowest_price', 'ave_price', 'ave_valid_price',
       'ave_price_monday', 'ave_price_lastmon'],
      dtype='object')

In [5]:
from sklearn.utils import shuffle

test_ratio = 0.25
test_size = int(len(sample_data)*test_ratio)

random_order_data = shuffle(sample_data)
test,train = random_order_data.iloc[:test_size,:],random_order_data.iloc[test_size:,:]

colname = ['remain_day','valid_price','ticket_year','ticket_month','ticket_day','ticket_weekday',\
            'flight_year','flight_month','flight_day','flight_weekday','remain_day_interval','lowest_price',\
            'ave_price','ave_valid_price','ave_lowest_price','ave_lowest_price_lastmonth']

#training_data = pd.DataFrame(training,columns = colname)
#test_data = pd.DataFrame(test,columns = colname)

train.to_csv('train_data.csv',index = False)
test.to_csv('test_data.csv',index = False)