#从航空机票查询数据提取特征如下：
1.查询票价日期对应的年、月、日以及是一周的第几天；
2.航班起飞日期对应的年、月、日以及是一周的第几天；
3.查询票价日期与航班起飞日期相差的天数；
4.查询票价日期与航班起飞日期区间内最低票价（label）；
5.查询票价日期与航班起飞日期区间内平均最低票价；
6.上月平均最低票价
7.当前月所在季度平均最低票价

In [97]:
import pandas as pd
import numpy as np
import operator

In [98]:
fd = pd.read_csv('valid_data.csv')   #读取清洗好的数据，没有缺失值，remain_day<=60的数据
print(fd.columns)
print(fd.head(10))

Index(['ticket_date', 'flight_date', 'remain_day', 'valid_price'], dtype='object')
  ticket_date flight_date  remain_day  valid_price
0   2017/7/21    2017/8/9          19          920
1   2017/7/21   2017/9/13          54          920
2   2017/7/21   2017/9/14          55          920
3   2017/7/21    2017/9/5          46          530
4   2017/7/21    2017/9/9          50          530
5   2017/7/21   2017/9/11          52          530
6   2017/7/21   2017/9/12          53          530
7   2017/7/21   2017/9/16          57          530
8   2017/7/21   2017/9/18          59          530
9   2017/7/21   2017/7/24           3         1040

In [99]:
#确定训练集和测试集的日期区间
fd['ticket_date'] = pd.to_datetime(fd['ticket_date'])
fd['flight_date'] = pd.to_datetime(fd['flight_date'])
train_set = fd.loc[fd['ticket_date'] <= pd.datetime(2018,6,30)]
test_set = fd.loc[pd.datetime(2018,6,30) < fd['ticket_date']]

In [100]:
#获取训练集里ticket_date对应的年月日
train_set['ticket_year'] = pd.to_datetime(train_set['ticket_date']).dt.year               # f1:年
train_set['ticket_month'] = pd.to_datetime(train_set['ticket_date']).dt.month             # f1:月
train_set['ticket_day'] = pd.to_datetime(train_set['ticket_date']).dt.day                 # f1:日
train_set['ticket_weekday'] = pd.to_datetime(train_set['ticket_date']).dt.weekday + 1       # f1:星期,+1的原因是星期一默认为0
train_set['flight_year'] = pd.to_datetime(train_set['flight_date']).dt.year               # f2:年
train_set['flight_month'] = pd.to_datetime(train_set['flight_date']).dt.month             # f2:月
train_set['flight_day'] = pd.to_datetime(train_set['flight_date']).dt.day                 # f2:日
train_set['flight_weekday'] = pd.to_datetime(train_set['flight_date']).dt.weekday + 1       # f2:星期  
train_set

#获取测试集里ticket_date对应的年月日
test_set['ticket_year'] = pd.to_datetime(test_set['ticket_date']).dt.year               # f1:年
test_set['ticket_month'] = pd.to_datetime(test_set['ticket_date']).dt.month             # f1:月
test_set['ticket_day'] = pd.to_datetime(test_set['ticket_date']).dt.day                 # f1:日
test_set['ticket_weekday'] = pd.to_datetime(test_set['ticket_date']).dt.weekday + 1       # f1:星期,+1的原因是星期一默认为0
test_set['flight_year'] = pd.to_datetime(test_set['flight_date']).dt.year               # f2:年
test_set['flight_month'] = pd.to_datetime(test_set['flight_date']).dt.month             # f2:月
test_set['flight_day'] = pd.to_datetime(test_set['flight_date']).dt.day                 # f2:日
test_set['flight_weekday'] = pd.to_datetime(test_set['flight_date']).dt.weekday + 1       # f2:星期  
test_set

D:\Software Install\Anaconda Install\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

D:\Software Install\Anaconda Install\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
D:\Software Install\Anaconda Install\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
D:\Software Install\Anaconda Install\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
D:\Software Install\Anaconda Install\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

D:\Software Install\Anaconda Install\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
D:\Software Install\Anaconda Install\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

D:\Software Install\Anaconda Install\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
D:\Software Install\Anaconda Install\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
D:\Software Install\Anaconda Install\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

D:\Software Install\Anaconda Install\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
D:\Software Install\Anaconda Install\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
D:\Software Install\Anaconda Install\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
D:\Software Install\Anaconda Install\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
D:\Software Install\Anaconda Install\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
D:\Software Install\Anaconda Install\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,ticket_date,flight_date,remain_day,valid_price,ticket_year,ticket_month,ticket_day,ticket_weekday,flight_year,flight_month,flight_day,flight_weekday
19729,2018-07-01,2018-07-13,12,1360,2018,7,1,7,2018,7,13,5
19730,2018-07-01,2018-07-27,26,1360,2018,7,1,7,2018,7,27,5
19731,2018-07-01,2018-07-04,3,1100,2018,7,1,7,2018,7,4,3
19732,2018-07-01,2018-07-03,2,1030,2018,7,1,7,2018,7,3,2
19733,2018-07-01,2018-07-05,4,1030,2018,7,1,7,2018,7,5,4
19734,2018-07-01,2018-07-11,10,1030,2018,7,1,7,2018,7,11,3
19735,2018-07-01,2018-07-12,11,1030,2018,7,1,7,2018,7,12,4
19736,2018-07-01,2018-07-17,16,1030,2018,7,1,7,2018,7,17,2
19737,2018-07-01,2018-07-18,17,1030,2018,7,1,7,2018,7,18,3
19738,2018-07-01,2018-07-19,18,1030,2018,7,1,7,2018,7,19,4
19739,2018-07-01,2018-07-25,24,1030,2018,7,1,7,2018,7,25,3
19740,2018-07-01,2018-07-26,25,1030,2018,7,1,7,2018,7,26,4
19741,2018-07-01,2018-08-01,31,1030,2018,7,1,7,2018,8,1,3
19742,2018-07-01,2018-08-02,32,1030,2018,7,1,7,2018,8,2,4
19743,2018-07-01,2018-08-08,38,1030,2018,7,1,7,2018,8,8,3
19744,2018-07-01,2018-08-09,39,1030,2018,7,1,7,2018,8,9,4
19745,2018-07-01,2018-08-15,45,1030,2018,7,1,7,2018,8,15,3
19746,2018-07-01,2018-08-16,46,1030,2018,7,1,7,2018,8,16,4
19747,2018-07-01,2018-08-22,52,1030,2018,7,1,7,2018,8,22,3
19748,2018-07-01,2018-08-23,53,1030,2018,7,1,7,2018,8,23,4
19749,2018-07-01,2018-08-29,59,1030,2018,7,1,7,2018,8,29,3
19750,2018-07-01,2018-08-30,60,1030,2018,7,1,7,2018,8,30,4
19751,2018-07-01,2018-07-07,6,600,2018,7,1,7,2018,7,7,6
19752,2018-07-01,2018-07-21,20,600,2018,7,1,7,2018,7,21,6
19753,2018-07-01,2018-07-28,27,600,2018,7,1,7,2018,7,28,6
19754,2018-07-01,2018-07-02,1,610,2018,7,1,7,2018,7,2,1
19755,2018-07-01,2018-08-04,34,610,2018,7,1,7,2018,8,4,6
19756,2018-07-01,2018-08-11,41,610,2018,7,1,7,2018,8,11,6
19757,2018-07-01,2018-08-25,55,610,2018,7,1,7,2018,8,25,6
19758,2018-07-01,2018-07-10,9,900,2018,7,1,7,2018,7,10,2
...,...,...,...,...,...,...,...,...,...,...,...,...
23582,2018-08-31,2018-10-28,58,1030,2018,8,31,5,2018,10,28,7
23583,2018-08-31,2018-10-29,59,1030,2018,8,31,5,2018,10,29,1
23584,2018-08-31,2018-09-01,1,610,2018,8,31,5,2018,9,1,6
23585,2018-08-31,2018-09-03,3,610,2018,8,31,5,2018,9,3,1
23586,2018-08-31,2018-09-08,8,610,2018,8,31,5,2018,9,8,6
23587,2018-08-31,2018-09-15,15,610,2018,8,31,5,2018,9,15,6
23588,2018-08-31,2018-09-22,22,610,2018,8,31,5,2018,9,22,6
23589,2018-08-31,2018-09-23,23,610,2018,8,31,5,2018,9,23,7
23590,2018-08-31,2018-10-04,34,610,2018,8,31,5,2018,10,4,4
23591,2018-08-31,2018-10-03,33,610,2018,8,31,5,2018,10,3,3
23592,2018-08-31,2018-09-10,10,900,2018,8,31,5,2018,9,10,1
23593,2018-08-31,2018-09-02,2,900,2018,8,31,5,2018,9,2,7
23594,2018-08-31,2018-09-11,11,900,2018,8,31,5,2018,9,11,2
23595,2018-08-31,2018-09-18,18,900,2018,8,31,5,2018,9,18,2
23596,2018-08-31,2018-09-16,16,900,2018,8,31,5,2018,9,16,7
23597,2018-08-31,2018-09-17,17,900,2018,8,31,5,2018,9,17,1
23598,2018-08-31,2018-09-25,25,900,2018,8,31,5,2018,9,25,2
23599,2018-08-31,2018-10-01,31,900,2018,8,31,5,2018,10,1,1
23600,2018-08-31,2018-09-04,4,760,2018,8,31,5,2018,9,4,2
23601,2018-08-31,2018-09-24,24,760,2018,8,31,5,2018,9,24,1
23602,2018-08-31,2018-10-06,36,760,2018,8,31,5,2018,10,6,6
23603,2018-08-31,2018-10-02,32,760,2018,8,31,5,2018,10,2,2
23604,2018-08-31,2018-10-05,35,760,2018,8,31,5,2018,10,5,5
23605,2018-08-31,2018-09-07,7,1360,2018,8,31,5,2018,9,7,5
23606,2018-08-31,2018-09-14,14,1360,2018,8,31,5,2018,9,14,5
23607,2018-08-31,2018-09-21,21,1360,2018,8,31,5,2018,9,21,5
23608,2018-08-31,2018-09-28,28,1360,2018,8,31,5,2018,9,28,5
23609,2018-08-31,2018-10-12,42,1360,2018,8,31,5,2018,10,12,5
23610,2018-08-31,2018-10-19,49,1360,2018,8,31,5,2018,10,19,5
23611,2018-08-31,2018-10-26,56,1360,2018,8,31,5,2018,10,26,5

In [101]:
#将remain_day划分六个区间：0-10 == 1，11-20 == 2, 21-30 == 3, 31-40 == 4, 41-50 == 5, 51-60 == 6
import math
def remain_division(x):
    return math.ceil(x/10)

train_set['remain_day_interval'] = train_set['remain_day'].apply(remain_division)        #f3:remain_day，f4:remain_day所在区间
test_set['remain_day_interval'] = test_set['remain_day'].apply(remain_division)        #f3:remain_day，f4:remain_day所在区间

D:\Software Install\Anaconda Install\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

D:\Software Install\Anaconda Install\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [106]:
train_set.to_csv('raw_train_data.csv',index = False)
test_set.to_csv('raw_test_data.csv',index = False)

In [114]:
train_set = pd.read_csv('raw_test_data.csv')
#提取训练集航班数据有多少个航班期
flight_day_train = set(train_set.flight_date)


#计算各航班期不同remain_day的最低票价
frames = []
for i in flight_day_train:
    data_list = []
    for j in range(len(train_set)):
        if train_set.loc[j,'flight_date'] == i:
            data_list.append(j)
    temp_date_data = train_set.loc[data_list]
    temp_date_data.reset_index(drop = True, inplace = True)
    order_temp_date_data = temp_date_data.sort_values(['remain_day'],ascending = True)
    order_temp_date_data.reset_index(drop = True, inplace = True)
    order_temp_date_data['lowest_price'] = -1
    order_temp_date_data['ave_price'] = -1
    for k in range(0,len(order_temp_date_data)):   
        #提取各remain_day到航班日的最低价格
        order_temp_date_data.loc[k,'lowest_price'] = min(order_temp_date_data.loc[:k,'valid_price'])  #label
        #提取remain_day_max到当前remain_day的低价均值 <--f5
        order_temp_date_data.loc[len(order_temp_date_data)-1-k,'ave_price'] = order_temp_date_data.loc[len(order_temp_date_data)-1-k:len(order_temp_date_data)-1-0,'valid_price'].mean()
    frames.append(order_temp_date_data)
result_pool_train = pd.concat(frames)
result_pool_train.reset_index(drop = True, inplace = True)
#result_pool.columns = ['ticket_date','flight_date','remain_day','valid_price','ticket_year','ticket_month','ticket_day','ticket_weekday',\
#                      'flight_year','flight_month','flight_day','flight_weekday','lowest_price','ave_price']
print(result_pool_train.shape)
print(result_pool_train.head(10))

(3883, 15)
  ticket_date flight_date  remain_day  valid_price  ticket_year  ticket_month  \
0  2018-07-16  2018-07-17           1          760         2018             7
1  2018-07-16  2018-07-17           1          900         2018             7
2  2018-07-15  2018-07-17           2          900         2018             7
3  2018-07-14  2018-07-17           3          900         2018             7
4  2018-07-13  2018-07-17           4          900         2018             7
5  2018-07-12  2018-07-17           5          900         2018             7
6  2018-07-11  2018-07-17           6          900         2018             7
7  2018-07-10  2018-07-17           7          900         2018             7
8  2018-07-09  2018-07-17           8          900         2018             7
9  2018-07-09  2018-07-17           8         1030         2018             7

   ticket_day  ticket_weekday  flight_year  flight_month  flight_day  \
0          16               1         2018             7          17
1          16               1         2018             7          17
2          15               7         2018             7          17
3          14               6         2018             7          17
4          13               5         2018             7          17
5          12               4         2018             7          17
6          11               3         2018             7          17
7          10               2         2018             7          17
8           9               1         2018             7          17
9           9               1         2018             7          17

   flight_weekday  remain_day_interval  lowest_price    ave_price
0               2                    1           760   950.000000
1               2                    1           760   961.176471
2               2                    1           760   965.000000
3               2                    1           760   969.333333
4               2                    1           760   974.285714
5               2                    1           760   980.000000
6               2                    1           760   986.666667
7               2                    1           760   994.545455
8               2                    1           760  1004.000000
9               2                    1           760  1015.555556

In [115]:
result_pool_train.to_csv('result_pool_test.csv',index = False)

In [116]:
#获取每月各remain_day区间的均价
result_pool = pd.read_csv('result_pool_test.csv')
ave_price_month = result_pool.groupby(['flight_month','remain_day']).agg('mean')
ave_price_month = pd.DataFrame(ave_price_month)

ave_price_month.reset_index(inplace = True)

ave_price_month = ave_price_month[['flight_month','remain_day','valid_price','lowest_price','ave_price']]


result_pool['ave_valid_price'] = -1                                #f6:同月同remain_day的均价
result_pool['ave_price_monday'] = -1                               #f7:同月remain_day_max到当前remain_day的均价的平均值
#result_pool['ave_price_lastmon'] = -1                              #f8:上月remain_day_max到当前remain_day的均价
for i in range(len(result_pool)):
    mon_id = result_pool.loc[i,'flight_month']
    remain_day_id = result_pool.loc[i,'remain_day']
    index_id = ave_price_month[(ave_price_month.flight_month == mon_id)&(ave_price_month.remain_day == remain_day_id)].index.tolist()
    index_id = index_id[0]

    result_pool.loc[i,'ave_valid_price'] = ave_price_month.loc[index_id,'valid_price']    #获取订票数据日期所在月的平均票价
    result_pool.loc[i,'ave_price_monday'] = ave_price_month.loc[index_id,'ave_price']     #获取订单数据日期所在月的最低票价
    #if mon_id == 1:
    #if mon_id == 7:
        #index_id = ave_price_month[(ave_price_month.flight_month == 12)&(ave_price_month.remain_day == remain_day_id)].index.tolist()
        #index_id = ave_price_month[(ave_price_month.flight_month == 12)&(ave_price_month.remain_day == remain_day_id)].index.tolist()
        #index_id = index_id[0]
        #result_pool.loc[i,'ave_price_lastmon'] = ave_price_month.loc[index_id,'ave_price']    #获取订票数据日期所在月的上月平均最低票价
        #result_pool.loc[i,'ave_price_lastmon'] = result_pool.loc[i,'ave_price_monday']  
    #else:
        #index_id = ave_price_month[(ave_price_month.flight_month == (mon_id - 1))&(ave_price_month.remain_day == remain_day_id)].index.tolist()
        #index_id = index_id[0]
        #result_pool.loc[i,'ave_price_lastmon'] = ave_price_month.loc[index_id,'ave_price']    #获取订票数据日期所在月的上月平均最低票价

In [117]:
result_pool
#result_pool['remain_day_interval'] = result_pool['remain_day_interval'].astype(str)
#result_pool = pd.get_dummies(result_pool,columns = ['remain_day_interval'])
#result_pool.head(10)

,ticket_date,flight_date,remain_day,valid_price,ticket_year,ticket_month,ticket_day,ticket_weekday,flight_year,flight_month,flight_day,flight_weekday,remain_day_interval,lowest_price,ave_price,ave_valid_price,ave_price_monday
0,2018-07-16,2018-07-17,1,760,2018,7,16,1,2018,7,17,2,1,760,950.000000,868.157895,930.089047
1,2018-07-16,2018-07-17,1,900,2018,7,16,1,2018,7,17,2,1,760,961.176471,868.157895,930.089047
2,2018-07-15,2018-07-17,2,900,2018,7,15,7,2018,7,17,2,1,760,965.000000,875.945946,937.574277
3,2018-07-14,2018-07-17,3,900,2018,7,14,6,2018,7,17,2,1,760,969.333333,853.428571,913.190556
4,2018-07-13,2018-07-17,4,900,2018,7,13,5,2018,7,17,2,1,760,974.285714,877.878788,932.423530
5,2018-07-12,2018-07-17,5,900,2018,7,12,4,2018,7,17,2,1,760,980.000000,870.322581,927.296172
6,2018-07-11,2018-07-17,6,900,2018,7,11,3,2018,7,17,2,1,760,986.666667,863.214286,918.411490
7,2018-07-10,2018-07-17,7,900,2018,7,10,2,2018,7,17,2,1,760,994.545455,878.076923,941.139730
8,2018-07-09,2018-07-17,8,900,2018,7,9,1,2018,7,17,2,1,760,1004.000000,910.769231,955.778424
9,2018-07-09,2018-07-17,8,1030,2018,7,9,1,2018,7,17,2,1,760,1015.555556,910.769231,955.778424
10,2018-07-08,2018-07-17,9,1030,2018,7,8,7,2018,7,17,2,1,760,1013.750000,947.083333,979.392255
11,2018-07-07,2018-07-17,10,1030,2018,7,7,6,2018,7,17,2,1,760,1011.428571,945.454545,979.280034
12,2018-07-06,2018-07-17,11,1030,2018,7,6,5,2018,7,17,2,2,760,1008.333333,941.428571,973.366457
13,2018-07-05,2018-07-17,12,900,2018,7,5,4,2018,7,17,2,2,760,1004.000000,927.391304,953.643638
14,2018-07-04,2018-07-17,13,1030,2018,7,4,3,2018,7,17,2,2,760,1030.000000,942.857143,950.242182
15,2018-07-03,2018-07-17,14,1030,2018,7,3,2,2018,7,17,2,2,760,1030.000000,985.882353,971.815317
16,2018-07-02,2018-07-17,15,1030,2018,7,2,1,2018,7,17,2,2,760,1030.000000,991.250000,974.812500
17,2018-07-01,2018-07-17,16,1030,2018,7,1,7,2018,7,17,2,2,760,1030.000000,985.000000,960.216422
18,2018-08-31,2018-09-07,7,1360,2018,8,31,5,2018,9,7,5,1,1360,1360.000000,907.500000,931.412153
19,2018-08-30,2018-09-07,8,1360,2018,8,30,4,2018,9,7,5,1,1360,1360.000000,866.666667,883.443541
20,2018-08-29,2018-09-07,9,1360,2018,8,29,3,2018,9,7,5,1,1360,1360.000000,880.000000,879.879125
21,2018-08-28,2018-09-07,10,1360,2018,8,28,2,2018,9,7,5,1,1360,1360.000000,877.272727,887.524374
22,2018-08-27,2018-09-07,11,1360,2018,8,27,1,2018,9,7,5,2,1360,1360.000000,859.090909,859.323625
23,2018-08-26,2018-09-07,12,1360,2018,8,26,7,2018,9,7,5,2,1360,1360.000000,901.666667,908.521028
24,2018-08-25,2018-09-07,13,1360,2018,8,25,6,2018,9,7,5,2,1360,1360.000000,891.538462,900.287454
25,2018-08-24,2018-09-07,14,1360,2018,8,24,5,2018,9,7,5,2,1360,1360.000000,933.076923,943.428179
26,2018-08-23,2018-09-07,15,1360,2018,8,23,4,2018,9,7,5,2,1360,1360.000000,910.000000,920.269440
27,2018-08-22,2018-09-07,16,1360,2018,8,22,3,2018,9,7,5,2,1360,1360.000000,909.333333,919.123651
28,2018-08-21,2018-09-07,17,1360,2018,8,21,2,2018,9,7,5,2,1360,1360.000000,908.750000,918.129529
29,2018-08-20,2018-09-07,18,1360,2018,8,20,1,2018,9,7,5,2,1360,1360.000000,917.058824,917.260844
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3853,2018-08-30,2018-10-02,33,760,2018,8,30,4,2018,10,2,2,4,760,762.333333,800.000000,792.842912
3854,2018-08-29,2018-10-02,34,760,2018,8,29,3,2018,10,2,2,4,760,762.413793,752.500000,762.453818
3855,2018-08-28,2018-10-02,35,760,2018,8,28,2,2018,10,2,2,4,760,762.500000,743.333333,754.210758
3856,2018-08-27,2018-10-02,36,760,2018,8,27,1,2018,10,2,2,4,760,762.592593,755.000000,773.509022
3857,2018-08-26,2018-10-02,37,760,2018,8,26,7,2018,10,2,2,4,760,762.692308,794.285714,801.498901
3858,2018-08-25,2018-10-02,38,760,2018,8,25,6,2018,10,2,2,4,760,762.800000,823.750000,830.337500
3859,2018-08-24,2018-10-02,39,760,2018,8,24,5,2018,10,2,2,4,760,762.916667,846.666667,852.789855
3860,2018-08-23,2018-10-02,40,760,2018,8,23,4,2018,10,2,2,4,760,763.043478,868.181818,873.994319
3861,2018-08-22,2018-10-02,41,760,2018,8,22,3,2018,10,2,2,5,760,763.181818,868.181818,885.513577
3862,2018-08-21,2018-10-02,42,760,2018,8,21,2,2018,10,2,2,5,760,763.333333,909.166667,925.863095
3863,2018-08-20,2018-10-02,43,760,2018,8,20,1,2018,10,2,2,5,760,763.500000,918.461538,934.700405
3864,2018-08-19,2018-10-02,44,760,2018,8,19,7,2018,10,2,2,5,760,763.684211,926.428571,942.362155
3865,2018-08-18,2018-10-02,45,760,2018,8,18,6,2018,10,2,2,5,760,763.888889,933.333333,949.098039
3866,2018-08-17,2018-10-02,46,760,2018,8,17,5,2018,10,2,2,5,760,764.117647,937.058824,953.769464
3867,2018-08-16,2018-10-02,47,760,2018,8,16,4,2018,10,2,2,5,760,764.375000,918.888889,949.724537
3868,2018-08-16,2018-10-02,47,610,2018,8,16,4,2018,10,2,2,5,610,764.666667,918.888889,949.724537
3869,2018-08-15,2018-10-02,48,610,2018,8,15,3,2018,10,2,2,5,610,775.714286,933.888889,966.666667
3870,2018-08-14,2018-10-02,49,610,2018,8,14,2,2018,10,2,2,5,610,788.461538,956.315789,989.757085
3871,2018-08-13,2018-10-02,50,610,2018,8,13,1,2018,10,2,2,5,610,803.333333,960.000000,994.416667
3872,2018-08-12,2018-10-02,51,610,2018,8,12,7,2018,10,2,2,6,610,820.909091,963.333333,999.090909
3873,2018-08-11,2018-10-02,52,610,2018,8,11,6,2018,10,2,2,6,610,842.000000,966.363636,1003.909091
3874,2018-08-10,2018-10-02,53,900,2018,8,10,5,2018,10,2,2,6,610,867.777778,966.250000,1002.980324
3875,2018-08-10,2018-10-02,53,610,2018,8,10,5,2018,10,2,2,6,610,863.750000,966.250000,1002.980324
3876,2018-08-09,2018-10-02,54,900,2018,8,9,4,2018,10,2,2,6,610,900.000000,980.400000,1008.442857
3877,2018-08-08,2018-10-02,55,900,2018,8,8,3,2018,10,2,2,6,610,900.000000,993.461538,1013.086081
3878,2018-08-07,2018-10-02,56,900,2018,8,7,2,2018,10,2,2,6,610,900.000000,1017.777778,1031.172840
3879,2018-08-06,2018-10-02,57,900,2018,8,6,1,2018,10,2,2,6,610,900.000000,1027.857143,1038.357143
3880,2018-08-05,2018-10-02,58,900,2018,8,5,7,2018,10,2,2,6,610,900.000000,1037.241379,1040.603448
3881,2018-08-04,2018-10-02,59,900,2018,8,4,6,2018,10,2,2,6,610,900.000000,1041.724138,1041.724138
3882,2018-08-03,2018-10-02,60,900,2018,8,3,5,2018,10,2,2,6,610,900.000000,1041.333333,1041.333333

In [118]:

result_pool.to_csv('test_data.csv',index = False)